<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding:0px;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img class="text-center" src="../../../assets/img/UpkitLogoLittle.png" height="31px" width="55px">
    </a>
    <!-- <img class="text-center" src="assets/img/Upkit Logo.png" height="22px" width="40px"> -->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" style="color:white" href="#what">What is Upkit?&nbsp;</a>
        </li>
        <!-- <li class="nav-item" role="presentation"><a class="nav-link" style="color:white" href="#kits">Kits</a></li> -->
        <li class="nav-item" role="presentation">
          <a class="nav-link" style="color:white" href="#how">How will it work?</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" style="color:white" href="#benefits">Benefits</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" style="color:white" href="#Team">Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
